// 颜色定义规范
$primary: #2d8cf0;
$lightPrimary: #5cadff;
$darkPrimary: #2b85e4;
$success: hsl(150, 77%, 42%);
$warning: #ff9900;
$error: #ed4014;
$red: #BB051E;
$title:#17233d;
$content: #515a6e;
$border: #dcdee2;
$background: #f8f8f9;
$blank: #fff;
$black: #000;
$color-333: #333333;
$placeholder: rgb(154, 154, 154);
$listHover: rgb(239, 239, 239);
$listLightHover: rgb(247, 247, 247);
$green: rgb(94, 171, 91);
$bg: #f6f6f6;
$pink: rgb(239, 135, 140);
$messageBg: rgb(158, 233, 86);

